pandas
numpy
scikit-learn
scipy
torch~=2.4.0
torchvision
torchinfo
transformers
kagglehub
kagglehub[pandas-datasets]
git+https://github.com/huggingface/transformers@v4.49.0-Gemma-3
accelerate
rich
bitsandbytes
tqdm
openai
python-dotenv
# python -m pip install wheel setuptools
# pip install flash-attn --no-build-isolation